.env

__pycache__
__pycache__/
__pycache__/*
*/__pycache__/
*/__pycache__/*

evals/registry/data/accounting_audit/*
evals/registry/data/actors-sequence/*
evals/registry/data/adultery-state-laws/*
evals/registry/data/afrikaans-lexicon/*
evals/registry/data/aime_evaluation/*
evals/registry/data/algebra_word_problems/*
evals/registry/data/allergen-information/*
evals/registry/data/alternate_numeral_systems/*
evals/registry/data/ambiguous-sentences/*
evals/registry/data/anagrams/*
evals/registry/data/arc/*
evals/registry/data/arithmetic-expression/*
evals/registry/data/arithmetical_puzzles/*
evals/registry/data/ascii-digit-recognition/*
evals/registry/data/ascii_wordart/*
evals/registry/data/asl-classifiers/*
evals/registry/data/astro_eval/*
evals/registry/data/atpl_exams/*
evals/registry/data/automata-and-complexity/*
evals/registry/data/backgammon/*
evals/registry/data/balance_chemical_equation/*
evals/registry/data/banking77/*
evals/registry/data/base64_decode/*
evals/registry/data/beam_analysis/*
evals/registry/data/belarusian_grammar/*
evals/registry/data/belarusian_lexicon/*
evals/registry/data/belarusian_numerals/*
evals/registry/data/belarusian_orthography/*
evals/registry/data/belarusian_proverbs/*
evals/registry/data/belarusian_rhyme/*
evals/registry/data/belarusian_russian_translation/*    
evals/registry/data/belarusian_syllable_count/*
evals/registry/data/belarusian_synonyms/*
evals/registry/data/belarusian_word_analogy_inflection/*
evals/registry/data/benjaminmoore_to_hex/*
evals/registry/data/bias_detection/*
evals/registry/data/bigrams/*
evals/registry/data/bitwise/*
evals/registry/data/blackfoot-numerals-modern/*
evals/registry/data/body_movement/*
evals/registry/data/born_first/*
evals/registry/data/brazilian-lexicon/*
evals/registry/data/brazilian_laws/*
evals/registry/data/building_floorplan/*
evals/registry/data/bulgarian-lexicon/*
evals/registry/data/canto_wu_pronunciation/*
evals/registry/data/cardinal-directions/*
evals/registry/data/categorize_with_distractors/*
evals/registry/data/chess/*
evals/registry/data/chess_piece_count/*
evals/registry/data/chinese-lantern-riddles/*
evals/registry/data/chinese-remainder-theorem/*
evals/registry/data/chinese_ancient_masterpieces_dynasty/*
evals/registry/data/chinese_ancient_poetry/*
evals/registry/data/Chinese_character_riddles/*
evals/registry/data/chinese_chu_ci/*
evals/registry/data/chinese_famous_novel/*
evals/registry/data/chinese_hard_translations/*
evals/registry/data/chinese_homonym/*
evals/registry/data/chinese_homophonic/*
evals/registry/data/chinese_idioms/*
evals/registry/data/chinese_modern_poem_identification/*
evals/registry/data/chinese_poem/*
evals/registry/data/chinese_shi_jing/*
evals/registry/data/chinese_song_ci/*
evals/registry/data/chinese_tang_poetries/*
evals/registry/data/chinese_zodiac/*
evals/registry/data/cissp-study-questions/*
evals/registry/data/code_combination/*
evals/registry/data/code_progress/*
evals/registry/data/color_theory/*
evals/registry/data/compare-countries-area/*
evals/registry/data/complex-analogies-en-ru/*
evals/registry/data/complex_replace_characters/*
evals/registry/data/comprehensive-graph-reasoning/*
evals/registry/data/confusing_korean/*
evals/registry/data/connect4/*
evals/registry/data/consensus_summary/*
evals/registry/data/context-free-grammar/*
evals/registry/data/convert-bwt-num-and-chinese-num/*
evals/registry/data/convert-hex-hsl-lightness/*
evals/registry/data/coq-editing/*
evals/registry/data/coq-proof-step/*
evals/registry/data/coqa/*
evals/registry/data/corr2cause/*
evals/registry/data/counterfactual-reasoning/*
evals/registry/data/countries/*
evals/registry/data/count_intersections_polynomial/*
evals/registry/data/count_token_freq_dna/*
evals/registry/data/crepe/*
evals/registry/data/cricket_situations/*
evals/registry/data/crontab/*
evals/registry/data/csharp-linq/*
evals/registry/data/css-selectors/*
evals/registry/data/cube-pack/*
evals/registry/data/cybersecurity/*
evals/registry/data/date-booking/*
evals/registry/data/date-calculator/*
evals/registry/data/day-of-week-from-date/*
evals/registry/data/decrypt_caesar_cipher/*
evals/registry/data/detect-hshd/*
evals/registry/data/determinant/*
evals/registry/data/dhammapada-reference/*
evals/registry/data/diabetes/*
evals/registry/data/diagrammatic_logic/*
evals/registry/data/dice-rotation-sequence/*
evals/registry/data/direct-speech-tag/*
evals/registry/data/directions/*
evals/registry/data/dna_melting_calculation/*
evals/registry/data/dutch-lexicon/*
evals/registry/data/dutch-rhymes/*
evals/registry/data/emoji_riddle/*
evals/registry/data/emotional-intelligence/*
evals/registry/data/escher_sentences/*
evals/registry/data/euler_problems/*
evals/registry/data/european_date_format_challenge/*
evals/registry/data/event_categories/*
evals/registry/data/fcc_amateur_extra/*
evals/registry/data/finance/*
evals/registry/data/finance_calc/*
evals/registry/data/financial-derivatives/*
evals/registry/data/find-letter/*
evals/registry/data/find-thirukkural/*
evals/registry/data/find_country_from_svg/*
evals/registry/data/finger-tracking/*
evals/registry/data/finnish-rhyme/*
evals/registry/data/first-letters/*
evals/registry/data/food/*
evals/registry/data/formal-grammar-to-regex/*
evals/registry/data/formal_logic/*
evals/registry/data/forth_stack_sim/*
evals/registry/data/french-lexicon/*
evals/registry/data/french-part-of-speech/*
evals/registry/data/french_homonym_and_homograph/*
evals/registry/data/game_theory/*
evals/registry/data/gears_rotation/*
evals/registry/data/geckodriver.log/*
evals/registry/data/geometry_puzzle/*
evals/registry/data/german-part-of-speech/*
evals/registry/data/GOL/*
evals/registry/data/GPT-model-text-detection/*
evals/registry/data/gpt-protocol-buffers/*
evals/registry/data/greek_nt_manuscripts/*
evals/registry/data/greek_vocabulary/*
evals/registry/data/gregorian-to-hebrew-date/*
evals/registry/data/guess_the_singer/*
evals/registry/data/heart-disease/*
evals/registry/data/hebrew_bible/*
evals/registry/data/hebrew_grammar/*
evals/registry/data/hebrew_homophones/*
evals/registry/data/hebrew_plurals/*
evals/registry/data/hebrew_rhyme/*
evals/registry/data/hebrew_same_noun_gender/*
evals/registry/data/hebrew_talmud_suka/*
evals/registry/data/hindi_shuddha/*
evals/registry/data/hindi_upsc/*
evals/registry/data/hindi_words/*
evals/registry/data/historical-kana-orthography-reading/*
evals/registry/data/human-safety/*
evals/registry/data/iambic-pentameter/*
evals/registry/data/illinois-law/*
evals/registry/data/imperial_date_to_string/*
evals/registry/data/indonesian_numbers/*
evals/registry/data/infiniteloop-match/*
evals/registry/data/integer-sequence-predictions/*
evals/registry/data/interlingual-homograph/*
evals/registry/data/internal_representations/*
evals/registry/data/invert_word_wise/*
evals/registry/data/invoices/*
evals/registry/data/invoice_due_date_leap_day_adjustment/*
evals/registry/data/iqbal-poetry-translation/*
evals/registry/data/irish-lexicon/*
evals/registry/data/irish_plural_nouns/*
evals/registry/data/irony/*
evals/registry/data/irrelevant-negative-diversion/*
evals/registry/data/islands/*
evals/registry/data/isosceles-right-triangle/*
evals/registry/data/italian-new-words/*
evals/registry/data/italian_big_math_expression/*
evals/registry/data/italian_rhyme/*
evals/registry/data/japanese-decimal-units/*
evals/registry/data/japanese-itpassport-exam01/*
evals/registry/data/japanese-national-medical-exam01/*
evals/registry/data/japanese-national-medical-exam02/*
evals/registry/data/japanese-station/*
evals/registry/data/japanese_approval/*
evals/registry/data/japanese_city_name_pronunciation/*
evals/registry/data/japanese_driving_license/*
evals/registry/data/japanese_mahjong_discard_tile/*
evals/registry/data/japanese_number_reading/*
evals/registry/data/Japanese_onomatopoeia/*
evals/registry/data/japanese_populer_video_game_title_and_the_publisher/*
evals/registry/data/japanese_romantic_context/*
evals/registry/data/jee-math/*
evals/registry/data/job_listing_title_for_a_caregiver_in_japan/*
evals/registry/data/json_patch_object/*
evals/registry/data/kanji-idioms/*
evals/registry/data/knot-theory/*
evals/registry/data/korean-consonant-vowel-combination/*
evals/registry/data/korean-honorific/*
evals/registry/data/korean-phonetics/*
evals/registry/data/korean-postposition/*
evals/registry/data/korean_date_counting/*
evals/registry/data/korean_dialects/*
evals/registry/data/korean_foreign_words/*
evals/registry/data/korean_romanization/*
evals/registry/data/korean_spelling/*
evals/registry/data/korean_yaminjeongeum/*
evals/registry/data/largest_country/*
evals/registry/data/last_word_nth/*
evals/registry/data/latin_grammar/*
evals/registry/data/lat_long_identify/*
evals/registry/data/linear-regression/*
evals/registry/data/linear_equations/*
evals/registry/data/list_comparison_missing_name/*
evals/registry/data/logic/*
evals/registry/data/logic-container/*
evals/registry/data/logic-grid/*
evals/registry/data/logic-liar-paradox/*
evals/registry/data/logic-riddles/*
evals/registry/data/logic-statements/*
evals/registry/data/logical-black-scholes/*
evals/registry/data/logical_counting/*
evals/registry/data/logical_reasoning_letter_series_test/*
evals/registry/data/logic_and_probability/*
evals/registry/data/logiqa/*
evals/registry/data/logiqa-logical-reasoning-plus/*
evals/registry/data/loss_logic/*
evals/registry/data/lunar_calendar/*
evals/registry/data/mandaliof-table/*
evals/registry/data/manga-translation/*
evals/registry/data/map-electronic-component-part-to-fact/*
evals/registry/data/mapping_to_matricies/*
evals/registry/data/marxist_philosophy_exam/*
evals/registry/data/mate-in-one/*
evals/registry/data/math-derivatives/*
evals/registry/data/math_equations/*
evals/registry/data/math_for_5th-grader/*
evals/registry/data/math_logic_operations/*
evals/registry/data/math_polish/*
evals/registry/data/matrix_mult_rows/*
evals/registry/data/mazes/*
evals/registry/data/medication_dose/*
evals/registry/data/medmcqa/*
evals/registry/data/mendelian_inheritance/*
evals/registry/data/missing_operators/*
evals/registry/data/monthly_metric_comparison/*
evals/registry/data/moral_exceptQA/*
evals/registry/data/multi-step-equations/*
evals/registry/data/multistep-word-problems/*
evals/registry/data/music-theory/*
evals/registry/data/music_theory/*
evals/registry/data/music_theory_scale_modes/*
evals/registry/data/naughty_strings/*
evals/registry/data/nepali-song-singer/*
evals/registry/data/nepali_numerals/*
evals/registry/data/ner_finance/*
evals/registry/data/newsology/*
evals/registry/data/next-val-series/*
evals/registry/data/nfl-point-combinations/*
evals/registry/data/non-compound-names/*
evals/registry/data/norwegian-lexicon/*
evals/registry/data/norwegian-rhymes/*
evals/registry/data/numbers_game/*
evals/registry/data/number_pattern/*
evals/registry/data/number_reading/*
evals/registry/data/number_series_test/*
evals/registry/data/numeral-type-comparisons/*
evals/registry/data/numerical-cabbala-casanova/*
evals/registry/data/nutrition/*
evals/registry/data/ordered-history-events/*
evals/registry/data/ordering_randomised_versionlist/*
evals/registry/data/override-system-instruction/*
evals/registry/data/pantone_to_hex/*
evals/registry/data/parable-to-moral-match/*
evals/registry/data/pararule-plus-multi-step-deductive-reasoning/*
evals/registry/data/partially_solved_crossword_clues/*
evals/registry/data/passing-balls/*
evals/registry/data/path_enclosed_area/*
evals/registry/data/pattern_identification/*
evals/registry/data/persian-kinship-riddles/*
evals/registry/data/phonetics-identify-words-needing-missing-gpcs/*
evals/registry/data/physics-interaction/*
evals/registry/data/ph_calculation/*
evals/registry/data/pointer-value-retrieval/*
evals/registry/data/points_on_line/*
evals/registry/data/poker_analysis/*
evals/registry/data/poker_hand_ranks/*
evals/registry/data/polish-lexicon/*
evals/registry/data/polish-proverbs/*
evals/registry/data/polish-syllable-count/*
evals/registry/data/polish_rhymes_generation/*
evals/registry/data/population_span_extraction/*
evals/registry/data/portuguese-kinship-riddles/*
evals/registry/data/portuguese-sarcasm/*
evals/registry/data/portuguese-syllable-count/*
evals/registry/data/positive-binary-operations/*
evals/registry/data/premature-conclusions/*
evals/registry/data/probabilities-word-problems/*
evals/registry/data/probability_questions/*
evals/registry/data/product-matching/*
evals/registry/data/prompt-injection/*
evals/registry/data/proofreader/*
evals/registry/data/pure_korean/*
evals/registry/data/python_list_comprehension/*
evals/registry/data/qa/*
evals/registry/data/quartz/*
evals/registry/data/ral_to_hex/*
evals/registry/data/rare-and-loanwords-dutch-lexicon/*
evals/registry/data/raven-matrices/*
evals/registry/data/README.md/*
evals/registry/data/reasoning/*
evals/registry/data/reasoning_with_contradictory_statements/*
evals/registry/data/rectangles/*
evals/registry/data/recurrence-relation/*
evals/registry/data/regex-match/*
evals/registry/data/relative_orientations/*
evals/registry/data/resistor_ohm_calculator/*
evals/registry/data/resource_id_extraction/*
evals/registry/data/reverse-polish-notation/*
evals/registry/data/reverse-shell/*
evals/registry/data/reverse-sort-words-eng/*
evals/registry/data/reverse_string/*
evals/registry/data/rhetorical_devices/*
evals/registry/data/rock-climbing/*
evals/registry/data/romanian-logic/*
evals/registry/data/romanian_homonyms/*
evals/registry/data/rot13/*
evals/registry/data/rubiks-colors/*
evals/registry/data/rucola/*
evals/registry/data/russe/*
evals/registry/data/russian-english-homonym-context-resolution/*
evals/registry/data/russian-lexicon/*
evals/registry/data/russian-nlp-tasks/*
evals/registry/data/russian-rhyme/*
evals/registry/data/russian-verse/*
evals/registry/data/russian_medical/*
evals/registry/data/russian_sarcasm/*
evals/registry/data/ru_rhyming_phrases/*
evals/registry/data/sarcasm/*
evals/registry/data/seating_arrangements/*
evals/registry/data/security_guide/*
evals/registry/data/seo_keywords/*
evals/registry/data/sexagenary_cycle_calculation/*
evals/registry/data/shape_in_shape/*
evals/registry/data/shared_border/*
evals/registry/data/shopping_discount_comparison/*
evals/registry/data/simple-block-puzzles/*
evals/registry/data/simple-charting/*
evals/registry/data/simple-knowledge-mongolian/*
evals/registry/data/simple-visual-understanding/*
evals/registry/data/simple_math/*
evals/registry/data/simple_physics_engine/*
evals/registry/data/sindarin_fluency/*
evals/registry/data/singapore_data_protection_decisions/*
evals/registry/data/singlestore-vectorsearch/*
evals/registry/data/smiles_to_formula/*
evals/registry/data/soc_codes/*
evals/registry/data/solve-for-variable/*
evals/registry/data/sort_numeric/*
evals/registry/data/south-african-bands/*
evals/registry/data/spanish-lexicon/*
evals/registry/data/spanish_feminine_noun_masculine_article/*
evals/registry/data/split_chinese_characters/*
evals/registry/data/sql/*
evals/registry/data/squares-gpt/*
evals/registry/data/stats-tests/*
evals/registry/data/stock_options/*
evals/registry/data/superficialpatterns/*
evals/registry/data/svg_alphabet/*
evals/registry/data/svg_to_text/*
evals/registry/data/svg_understanding/*
evals/registry/data/swap-words/*
evals/registry/data/swedish-spelling/*
evals/registry/data/swedish_sat/*
evals/registry/data/syllables_long_words/*
evals/registry/data/syntax-check/*
evals/registry/data/taxes/*
evals/registry/data/tempo_to_measure_count/*
evals/registry/data/test_comp_sci/*
evals/registry/data/test_english_pronunciations/*
evals/registry/data/test_fuzzy_match/*
evals/registry/data/test_japanese_english_numerals/*
evals/registry/data/test_japanese_radical/*
evals/registry/data/test_japanese_units/*
evals/registry/data/test_metaeval/*
evals/registry/data/test_modelgraded/*
evals/registry/data/test_multiio/*
evals/registry/data/test_time_zone_conversion/*
evals/registry/data/tetris/*
evals/registry/data/thirty_six_stratagems/*
evals/registry/data/three-pt-mapping/*
evals/registry/data/tokyo-station-number/*
evals/registry/data/tracking-shuffled-objects/*
evals/registry/data/track_objects/*
evals/registry/data/tricky-word-problems/*
evals/registry/data/turkish_characters/*
evals/registry/data/ukraine_eit/*
evals/registry/data/ukraine_electronic_petitions/*
evals/registry/data/ukraine_gec/*
evals/registry/data/Unfamiliar-Chinese-Character/*
evals/registry/data/unified_patch/*
evals/registry/data/unique_combinations/*
evals/registry/data/unsolvable_questions/*
evals/registry/data/unwanted-rhyming/*
evals/registry/data/urdu-lexicon/*
evals/registry/data/urdu-transliteration/*
evals/registry/data/us_tort_law/*
evals/registry/data/utah_real_estate/*
evals/registry/data/utility_price_parsing/*
evals/registry/data/viewport_to_grid_size/*
evals/registry/data/vigenere/*
evals/registry/data/vintage_phone_keyboard_decode/*
evals/registry/data/which_is_heavier/*
evals/registry/data/wkt_understanding/*
evals/registry/data/word_association/*
evals/registry/data/word_vector_over_reliance/*